<!DOCTYPE html>
<html>
    <head>
        <title>Bookself.com</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div id="landing-header">
 		<h1><i class="fa fa-sheqel" aria-hidden="true"></i> WELCOME TO BOOKSELF</h1>
		<a href="/books" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-book"></span> OPEN BOOKSELF</a>
		<a href="/sell" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-book"></span>Sell BOOKs</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</body>
</html>
